---
- name: "System VDOM settings"
  hosts: "firewalls"
  gather_facts: false

  tasks:
    - name: "Creating VDOM from backup"
      ansible.builtin.include_role:
        name: "system_vdom"
        tasks_from: "create-from-backup.yml"
