---
- name: "System VDOM settings"
  hosts: "firewalls"
  gather_facts: false

  tasks:
    - name: "Creating VDOM from minimal JSON"
      ansible.builtin.include_role:
        name: "system_vdom"
        tasks_from: "create-from-minimal.yml"
