---
- name: "Reading the json file '{{ file.path }}' that contains the desired settings"
  ansible.builtin.set_fact:
    desired_settings: "{{ lookup('file', file.path) | from_json }}"rom_json }}"

- name: "Printing the desired settings json object"
  ansible.builtin.debug:
    msg: "{{ desired_settings }}"
  tags: ["never", "debug"]

- name: "Setting system NTP settings"
  fortinet.fortios.fortios_system_ntp:
    vdom: "{{ vdom | default(omit, true) }}"
    system_ntp:
      authentication: "{{ desired_settings.authentication | default(omit, true) }}"
      interface: "{{ desired_settings.interface | default(omit, true) }}"
      key: "{{ desired_settings.key | default(omit, true) }}"
      key_id: "{{ desired_settings.key_id | default(omit, true) }}"
      key_type: "{{ desired_settings.key_type | default(omit, true) }}"
      ntpserver: "{{ desired_settings.ntpserver | default(omit, true) }}"
      ntpsync: "{{ desired_settings.ntpsync | default(omit, true) }}"
      server_mode: "{{ desired_settings.server_mode | default(omit, true) }}"
      source_ip: "{{ desired_settings.source_ip | default(omit, true) }}"
      source_ip6: "{{ desired_settings.source_ip6 | default(omit, true) }}"
      syncinterval: "{{ desired_settings.syncinterval | default(omit, true) }}"
      type: "{{ desired_settings.type | default(omit, true) }}"
  register: "output"

- name: "Debug"
  ansible.builtin.debug:
    msg: "{{ output }}"
  tags: ["never", "debug"]
