---
- name: "Reading the json file '{{ file.path }}' that contains the desired settings"
  ansible.builtin.set_fact:
    desired_settings: "{{ lookup('file', file.path) | from_json }}"

- name: "Printing the desired settings json object"
  tags: ["never", "debug"]
  ansible.builtin.debug:
    msg: "{{ desired_settings }}"

- name: "Creating System VDOM entries: {{ desired_settings.short_name }}"
  fortinet.fortios.fortios_system_vdom:
    vdom: "{{ vdom | default(omit, true) }}"
    state: "present"
    system_vdom:
      flag: "{{ desired_settings.flag | default(omit) }}"
      name: "{{ desired_settings.name | default(omit) }}"
      short_name: "{{ desired_settings.short_name | default(omit) }}"
      vcluster_id: "{{ desired_settings.vcluster_id | default(omit) }}"
  register: "output"

- name: "Debug"
  tags: ["never", "debug"]
  ansible.builtin.debug:
    msg: "{{ output }}"
