---
- name: "Displaying OS family fact for debugging"
  when: debug | bool
  ansible.builtin.debug:
    msg:
      - "ansible_facts - os_family : {{ ansible_facts['os_family'] }}"

- name: "Including OS specific requirements tasks"
  when: ansible_facts["os_family"] == "Debian" or ansible_facts["os_family"] == "Darwin"
  ansible.builtin.include_tasks: "{{ ansible_facts['os_family'] | lower }}/main.yml"
