---
- name: "Reading the json file '{{ file.path }}' that contains the desired settings"
  ansible.builtin.set_fact:
    desired_settings: "{{ lookup('file', file.path) | from_json }}"

- name: "Printing the desired settings json object"
  ansible.builtin.debug:
    msg: "{{ desired_settings }}"
  tags: ["never", "debug"]

- name: "Creating Customn Service entry: {{ desired_settings.name }}"
  fortinet.fortios.fortios_firewall_service_custom:
    vdom: "{{ vdom | default(omit, true) }}"
    state: "present"
    firewall_service_custom:
      name: "{{ desired_settings.name }}"
      category: "{{ desired_settings.category }}"
      protocol: "{{ desired_settings.protocol }}"
      app_category: "{{ desired_settings['app-category'] | default(omit, true) }}"
      app_service_type: "{{ desired_settings['app-service-type'] | default(omit, true) }}"
      application: "{{ desired_settings.application | default(omit, true) }}"
      color: "{{ desired_settings.color | default(omit, true) }}"
      comment: "{{ desired_settings.comment | default(omit, true) }}"
      fabric_object: "{{ desired_settings['fabric-object'] | default(omit, true) }}"
      fqdn: "{{ desired_settings.fqdn | default(omit, true) }}"
      iprange: "{{ desired_settings.iprange | default(omit, true) }}"
      proxy: "{{ desired_settings.proxy | default(omit, true) }}"
      sctp_portrange: "{{ desired_settings['sctp-portrange'] | default(omit, true) }}"
      session_ttl: "{{ desired_settings['session-ttl'] | default(omit, true) }}"
      tcp_halfclose_timer: "{{ desired_settings['tcp-halfclose-timer'] | default(omit, true) }}"
      tcp_halfopen_timer: "{{ desired_settings['tcp-halfopen-timer'] | default(omit, true) }}"
      tcp_portrange: "{{ desired_settings['tcp-portrange'] | default(omit, true) }}"
      tcp_rst_timer: "{{ desired_settings['tcp-rst-timer'] | default(omit, true) }}"
      tcp_timewait_timer: "{{ desired_settings['tcp-timewait-timer'] | default(omit, true) }}"
      udp_idle_timer: "{{ desired_settings['udp-idle-timer'] | default(omit, true) }}"
      udp_portrange: "{{ desired_settings['udp-portrange'] | default(omit, true) }}"
  register: "output"

- name: "Debug"
  ansible.builtin.debug:
    msg: "{{ output }}"
  tags: ["never", "debug"]
