---
- name: "Reading the json file '{{ file.path }}' that contains the desired settings"
  ansible.builtin.set_fact:
    desired_settings: "{{ lookup('file', file.path) | from_json }}"rom_json }}"

- name: "Printing the desired settings json object"
  ansible.builtin.debug:
    msg: "{{ desired_settings }}"
  tags: ["never", "debug"]

- name: "Creating Group Service entry: {{ desired_settings.name }}"
  fortinet.fortios.fortios_firewall_service_group:
    vdom: "{{ vdom | default(omit, true) }}"
    state: "present"
    firewall_service_group:
      name: "{{ desired_settings.name }}"
      member: "{{ desired_settings.member }}"
      color: "{{ desired_settings.color | default(omit, true) }}"
      comment: "{{ desired_settings.comment | default(omit, true) }}"
      fabric_object: "{{ desired_settings['fabric-object'] | default(omit, true) }}"
      proxy: "{{ desired_settings.proxy | default(omit, true) }}"
  register: "output"

- name: "Debug"
  ansible.builtin.debug:
    msg: "{{ output }}"
  tags: ["never", "debug"]
