---
- name: "Including OS-specific variables for global packages"
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] | lower }}.yml"

- name: "Installing Homebrew packages"
  ansible.builtin.import_role:
    name: "common"
    tasks_from: "darwin/packages/homebrew.yml"
  vars:
    update_cache: true
    upgrade: false
    packages:
      - { name: "pipx" } # A tool for installing and managing Python packages.

- name: "Installing pipx packages"
  ansible.builtin.import_role:
    name: "common"
    tasks_from: "darwin/packages/pipx.yml"
  vars:
    packages: "{{ pipx_packages }}"

- name: "Debug pipx installation output"
  when: debug | bool
  ansible.builtin.debug:
    msg:
      - "{{ output }}"
