---
- name: "Reading the json file '{{ file.path }}' that contains the desired settings"
  ansible.builtin.set_fact:
    desired_settings: "{{ lookup('file', file.path) | from_json }}"

- name: "Printing the desired settings json object"
  ansible.builtin.debug:
    msg: "{{ desired_settings }}"
  tags: ["never", "debug"]

- name: "Creating System Zone entries: {{ desired_settings.name }}"
  fortinet.fortios.fortios_system_zone:
    vdom: "{{ vdom | default(omit, true) }}"
    state: "present"
    system_zone:
      name: "{{ desired_settings.name }}"
      description: "{{ desired_settings.description | default(omit, true) }}"
      interface: "{{ desired_settings.interface | default(omit, true) }}"
      intrazone: "{{ desired_settings.intrazone | default(omit, true) }}"
      tagging: "{{ desired_settings.tagging | default(omit, true) }}"
  register: "output"

- name: "Debug"
  ansible.builtin.debug:
    msg: "{{ output }}"
  tags: ["never", "debug"]
