---
- name: "Including OS-specific variables for global packages"
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] | lower }}.yml"

# - name: "Installing apt packages"
#   ansible.builtin.import_role:
#     name: "common"
#     tasks_from: "debian/packages/apt.yml"
#   vars:
#     update_cache: true
#     upgrade: false
#     packages:
#       - {name: "pipx"} # A tool for installing and managing Python packages.

- name: "Installing pipx packages"
  ansible.builtin.import_role:
    name: "common"
    tasks_from: "debian/packages/pipx.yml"
  vars:
    packages: "{{ pipx_packages }}"

- name: "Debug pipx installation output"
  tags: ["never", "debug"]
  ansible.builtin.debug:
    msg:
      - "{{ output }}"
