---
- name: "Fetching up the system settings"
  fortinet.fortios.fortios_monitor_fact:
    vdom: "{{ vdom | default(omit, true) }}"
    selector: "system_config_backup"
    params:
      scope: "global"
  register: "data"

- name: "Debug"
  tags: ["never", "debug"]
  ansible.builtin.debug:
    msg: "{{ data }}"

- name: "Fixing SSL certificate issues for pipx environments"
  delegate_to: "{{ groups['ControlMachine'] | first }}"
  block:
    - name: "Ensure the backup directory exists"
      ansible.builtin.file:
        path: "{{ backup_global_config_path }}"
        state: "directory"
        mode: "0755"

    - name: "Saving the settings in a local file"
      ansible.builtin.copy:
        content: "{{ data.meta.raw }}"
        dest: "{{ backup_global_config_path }}/{{ data_format }}.{{ backup_extention }}"
        mode: "0644"
      vars:
        data_format: "{{ lookup('pipe', 'date +%Y-%m-%d-%H-%M-%S') }}"

    - name: "Retrieving the amount of backup files"
      ansible.builtin.find:
        paths: "{{ backup_global_config_path }}"
        patterns: "*.{{ backup_extention }}"
      register: "backup_files"

    - name: "Removing old backup files"
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: "absent"
      loop: "{{ (backup_files.files | sort(attribute='mtime'))[0:-backup_files_to_keep] | list }}"
      loop_control:
        index_var: "index"
        label: "{{ index }} - {{ item.path }}"
